<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="sticky">
        <div class="social-header">
            <div class="container d-flex justify-content-between">
                <p class="key-message "> <span class="mr-2 d-none d-sm-inline">Best Practices</span><span
                        class="mr-2 d-none  d-sm-inline">Robust Processes</span><span
                        class="mr-2 d-none  d-sm-inline">Measurable Results</span></p>
                <ul class="social-list justify-content-end ">
                    <li><a href="tel:+61 8 6262 3559"><i class="fa fa-phone mr-2"></i><span
                                class="d-inline d-sm-none  d-md-inline">+61 8 6262 3559</span></a></li>
                    <li><a target="_blank" href="mailto:support@qltech.com.au"><i class="fa fa-envelope  mr-2"></i><span
                                class="d-none d-md-inline">Send Email</span></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/QLTechAU/" class=""><i
                                class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/qltechau" class=""><i
                                class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-none"><a aria-current="page" class="navbar-brand"
                    href="/"><img
                        src=""
                        class="img-fluid" alt="" width="120px"></a><button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <div>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown"
                                    href="jacasvript:;" aria-expanded="false">About</a>
                                <ul class="dropdown-menu row">
                                    <li><a class="dropdown-item" href="/about-us/">About us</a></li>
                                    <li><a class="dropdown-item" href="/event/">Events</a></li>
                                </ul>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item dropdown position-static"><a class="nav-link dropdown-toggle"
                                    href="javascript:void(0)" id="navbarDropdown" role="button"
                                    data-toggle="dropdown">Services</a>
                                <ul class="dropdown-menu ">
                                    <li class="service-menu">
                                        <ul class="">
                                            <li class=""><a class="dropdown-item"
                                                    href="/services/strategy-consulting/"><span
                                                        class="services-heading">Strategy &amp; Consulting</span><span
                                                        class="services-description">Dive-Deep into a structured
                                                        framework to plan and execute your business
                                                        objectives</span></a></li>
                                            <li class=""><a class="dropdown-item"
                                                    href="/services/agile-focused-development/"><span
                                                        class="services-heading">Agile-focused Development</span><span
                                                        class="services-description">Respond to new challenges and
                                                        expectations in a flexible and swift manner. Build strong
                                                        digital assets</span></a></li>
                                            <li class=""><a class="dropdown-item"
                                                    href="/services/crm-consulting-and-development/"><span
                                                        class="services-heading">CRM Consulting and
                                                        Development</span><span class="services-description">Discover
                                                        possibilities to amplify your business with CRM. Automate your
                                                        process, sales and marketing
                                                    </span></a></li>
                                            <li class=""><a class="dropdown-item"
                                                    href="/services/digital-marketing/"><span
                                                        class="services-heading">Digital Marketing</span><span
                                                        class="services-description">Attract, engage, and delight your
                                                        customers with next-generation experiences</span></a></li>
                                            <li class=""><a class="dropdown-item"
                                                    href="/services/analytics-reporting/"><span
                                                        class="services-heading">Analytics &amp; Reporting</span><span
                                                        class="services-description">Analyze data that you can trust to
                                                        derive insights and accelerate your business
                                                    </span></a></li>
                                            <li class=""><a class="dropdown-item"
                                                    href="/services/digital-transformation/"><span
                                                        class="services-heading">Digital Transformation</span><span
                                                        class="services-description">Discover how you can embrace
                                                        innovation to drive new value. Explore new insights. See
                                                        measurable results
                                                    </span></a></li>
                                        </ul>
                                    </li>
                                    <li class="other-menu border-right"><span
                                            class="services-heading ">Industries</span><span
                                            class="services-description mb-2">Discover how we're helping transform
                                            myriad industries to win tomorrow’s customer</span>
                                        <ul class="dropdown-menu-ul-list">
                                            <li><a class="dropdown-item mt-1" href="/industries/healthcare/"><span
                                                        class="dropdown-menu-li-list">Healthcare</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/industries/sports/"><span
                                                        class="dropdown-menu-li-list">Sports</span></a></li>
                                            <li><a class="dropdown-item mt-1"
                                                    href="/industries/retail-and-ecommerce/"><span
                                                        class="dropdown-menu-li-list">Retail &amp; E-commerce</span></a>
                                            </li>
                                            <li><a class="dropdown-item mt-1" href="/industries/mining/"><span
                                                        class="dropdown-menu-li-list">IT/OT &amp; Mining</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="other-menu"><span class="services-heading ">Platforms</span><span
                                            class="services-description mb-2">Explore possibilities and get the most
                                            from your technology stack</span>
                                        <ul class="dropdown-menu-ul-list">
                                            <li><a class="dropdown-item mt-1" href="/platforms/activecampaign/"><span
                                                        class="dropdown-menu-li-list">ActiveCampaign</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/platforms/tealium/"><span
                                                        class="dropdown-menu-li-list">Tealium</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/platforms/segment/"><span
                                                        class="dropdown-menu-li-list">Segment</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/platforms/salesforce/"><span
                                                        class="dropdown-menu-li-list">Salesforce CRM</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/platforms/hubspot/"><span
                                                        class="dropdown-menu-li-list">HubSpot</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/platforms/keap-infusionsoft/"><span
                                                        class="dropdown-menu-li-list">Keap/Infusionsoft</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/platforms/zoho-one/"><span
                                                        class="dropdown-menu-li-list">Zoho Platform</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/platforms/freshsales-crm/"><span
                                                        class="dropdown-menu-li-list">Freshsales</span></a></li>
                                            <li><a class="dropdown-item mt-1" href="/platforms/tableau/"><span
                                                        class="dropdown-menu-li-list">Tableau</span></a></li>
                                            <li><a class="dropdown-item mt-1"
                                                    href="/platforms/microsofts-power-bi/"><span
                                                        class="dropdown-menu-li-list">Microsoft’s Power BI</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item dropdown position-static processMenu"><a
                                    class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown"
                                    role="button" data-toggle="dropdown" aria-expanded="false">Process</a>
                                <ul class="dropdown-menu">
                                    <li class="service-menu service-menu-full">
                                        <ul class="">
                                            <li class=""><a class="dropdown-item"
                                                    href="/process/systems-thinking/"><span
                                                        class="services-subheading"></span><span
                                                        class="services-heading">Systems thinking</span><span
                                                        class="services-description">
                                                        <p>Drive greater ROI by aligning various business units towards
                                                            a common goal</p>
                                                    </span></a></li>
                                            <li class=""><a class="dropdown-item" href="/process/sostac/"><span
                                                        class="services-subheading"></span><span
                                                        class="services-heading">SOSTAC</span><span
                                                        class="services-description">
                                                        <p>Think about the entire ecosystem of the problem and bring out
                                                            a plausible solution in a scientific manner</p>
                                                    </span></a></li>
                                            <li class=""><a class="dropdown-item" href="/process/okr/"><span
                                                        class="services-subheading"></span><span
                                                        class="services-heading">OKR</span><span
                                                        class="services-description">
                                                        <p>Stakeholders buy-in into the overall goals set out within the
                                                            SOSTAC framework</p>
                                                    </span></a></li>
                                            <li class=""><a class="dropdown-item"
                                                    href="/process/inbound-methodology/"><span
                                                        class="services-subheading"></span><span
                                                        class="services-heading">Inbound Methodology</span><span
                                                        class="services-description">
                                                        <p>Embrace a method of attracting, engaging, and delighting your
                                                            clients that provides value, and builds trust</p>
                                                    </span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item"><a class="nav-link" href="/work/">Work</a></li>
                        </div>
                        <div>
                            <li class="nav-item"><a class="nav-link" href="/hub/">Knowledge Hub</a></li>
                        </div>
                        <div>
                            <li class="nav-item"><a class="nav-link" href="/career/">Career</a></li>
                        </div>
                        <li class="nav-item d-md-none d-inline"><a class="nav-link" href="/contact-us">Contact Us</a>
                        </li>
                        <li class="nav-item d-none  d-md-inline"><a class="nav-link btn-default"
                                href="/contact-us/">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</body>

</html>