@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    background: #fff;
    z-index: 10;
}

.card-text img{
	width:100%;
	height:auto;
}

@keyframes scrolldown {
    from {top: -150px;}
    to {top: 0px;}
    }
header,
header.sticky {
    -webkit-transition: .5s;
    transition: .5s
}

header .main-header {
    -webkit-box-shadow: 0 0 26px -13px rgba(0, 0, 0, .6);
    box-shadow: 0 0 26px -13px rgba(0, 0, 0, .6);;
}
header .main-header.sticky {
    -webkit-box-shadow: 0 0 26px -13px rgba(0, 0, 0, .6);
    box-shadow: 0 0 26px -13px rgba(0, 0, 0, .6);
    -webkit-animation: scrolldown .5s ease-in;
    animation: scrolldown .5s ease-in;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background: #fff;
}
header .social-header {
    background: transparent -webkit-gradient(linear, right top, left top, from(#3b3b3b), to(#3b3b3b)) repeat scroll 0 0;
    background: transparent linear-gradient(270deg, #3b3b3b, #3b3b3b) repeat scroll 0 0;
    background-color: #3b3b3b;
    padding: 10px 0px;
    display: block
}

header .social-header .first-li ul li
{
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0px 10px;
}
header .social-header .first-li ul li a
{
    color: white;
    font-size: 16px;
}
header .social-header .first-li ul li:first-child,
header .social-header .second-li ul li:first-child
{
    padding-left: 0 !important;
}
header .social-header .first-li ul li:last-child,
header .social-header .second-li ul li:last-child
{
    padding-right: 0 !important;
}


header .social-header .second-li ul li
{
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0px 8px;
    align-items: center;
    display: flex;
    color: white;
}

header .social-header .second-li ul li i
{
    font-size: 18px;
    margin-right: 8px;
    height: 14px;
}
header .social-header .second-li ul li a
{
    color: white;
    font-size: 15px;
    text-decoration: none;
    align-items: center;
    display: flex;
}
header .social-header .second-li ul li span
{
    margin: 0px 7px;
    color: white;
}


header .navbar {
    padding: 0px 0px;
}

header .navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 42px 10px ;
    color: #333333;
}
header .navbar-light .navbar-nav li.nav-item {
    padding-right: 10px;
}

header .navbar-light .navbar-nav
{
    align-items: center;
    display: flex;
}
.dropdown-menu.main-menu
{
    padding: 0 !important;
    z-index: 10;
}

.dropdown-menu.main-menu .inner-menu {
    display: inline-block;
    padding-right: 30px;
}

.dropdown-menu.main-menu .inner-menu ul{
    position: relative;
}
.dropdown-menu.main-menu .inner-menu ul::after {
    content: "";
    position: absolute;
    height: 80%;
    top: 10%;
    right: -15px;
    width: 1px;
    background-color: #EEEEEE;
}
.dropdown-menu.main-menu .inner-menu ul.no-br::after {
    position: unset !important;
}
.dropdown-menu.main-menu .inner-menu ul li
{
  padding: 0 !important;
  border: 0;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}
.dropdown-menu.main-menu .inner-menu ul li a
{
  font-size: 14px;
  font-weight: 400;
  color: #3b3b3b;
  text-decoration: none;
}
.dropdown-menu.common-menu a
{
  font-size: 14px;
  font-weight: 400;
  color: #3b3b3b;
  text-decoration: none;
  text-align: center !important;
  padding: 10px 15px;
}
.dropdown-menu.main-menu .inner-menu ul li img.icon
{
    margin-right: 10px;
}
.first-box
{
    width: 755px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 0px 15px 25px;
    background-color: #fff !important;
    background: #fff !important;
}
.second-box
{
    width: calc(100% - 760px);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #FAFAFA !important;
    background: #FAFAFA !important;
    padding: 15px 0px 0px;
}
.main-box
{
    background-color: #FAFAFA !important;
    background: #FAFAFA !important;
}
.second-box p a
{
    color: #2A74B6;
    text-decoration: underline;
}

header .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border: 2px solid #303030;
    border-radius: 0;
    padding: 2px 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

header .dropdown-toggle {
    position: relative
}

header .dropdown-menu {
    border-radius: 0;
    padding: 0;
    position: absolute;
    min-width: 150px !important;
    left: 0;
    z-index: 0;
    opacity: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .25s;
    transition: all .25s;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    border: 0 solid #ddd;
    background: #fff;
    top: 80% !important;
}

header .dropdown-menu.show {
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
}
header .dropdown .dropdown-menu {
    border: 1px solid #ddd;
}

header .dropdown:hover .dropdown-menu {
    opacity: 1;
    height: auto;
    margin-top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    border: 1px solid #ddd;
    z-index: 10;
}

header .dropdown .dropdown-toggle:before {
    position: absolute;
    bottom: 14px;
    left: unset;
    right: 8px;
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
    background: #fff;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #ddd transparent transparent #ddd;
    border-style: solid;
    border-width: 1px;
    z-index: 12;
    -webkit-box-shadow: -2px -5px 7px -4px rgba(0, 0, 0, .15);
    box-shadow: -2px -5px 7px -4px rgba(0, 0, 0, .15);
}

header .dropdown:hover .dropdown-toggle:before {
    opacity: 1;
    bottom: 14px;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
}

header .dropdown .main-menu-toggle.dropdown-toggle:before,
header .dropdown:hover .main-menu-toggle.dropdown-toggle:before
{
    bottom: 12px !important;
}
header .dropdown-menu li {
    width: 100%;
}

header .dropdown-menu .services-heading {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    margin-top: 10px;
    position: relative;
    border: none;
}

header .dropdown-menu .services-description {
    font-size: 14px;
    color: #777;
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
    line-height: 20px !important;
}

header .dropdown-menu .dropdown-item:hover {
    background: #fbfbfb;
    -webkit-transition: .4s;
    transition: .4s;
}

header .dropdown-menu ul {
    padding: 0;
    list-style-type: none;
    white-space: normal;
}

header .dropdown-menu .dropdown-menu-li-list {
    color: #1692c7;
    font-weight: 500;
}

header .dropdown-menu .dropdown-menu-ul-list li a.dropdown-item {
    padding: 0;
    background: #fff;
}

header .dropdown-menu .dropdown-menu-ul-list li a.dropdown-item:hover {
    text-decoration: underline;
}

header .dropdown:hover .dropdown-menu li {
    border: 0;
    align-items: center;
    display: flex;;
}

header .dropdown-menu {
    display: block;
    width: 100%;
}

header .dropdown-menu li ul {
    padding: 0;
    display: inline-block;
}

header .dropdown-menu .service-menu {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #eee;
}

header .dropdown-menu .service-menu li {
    width: calc(50% - 3px);
    display: inline-block;
}

header .dropdown-menu .other-menu {
    width: calc(25% - 4px);
    padding: 10px 10px 10px 20px;
    display: inline-block;
    min-height: 399px;
}

header .processMenu ul li {
    border-right: 1px solid #eee;
}

header .processMenu ul li:last-child {
    border-right: none
}

.sub-header {
    position: sticky;
    top: 72px !important;
    background: #fff;
    z-index: 8;
    padding: 15px 0;
}

.sub-header .search-box {
    width: calc(100% - 110px);
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.sub-header .search-box .btn-outline-secondary {
    border: none;
    font-size: 14px;
}

.sub-header .form-control {
    font-size: 14px;
    color: #404873;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: calc(1.5em + .75rem + 4px);
}

.sub-header .search-box .form-control {
    border: none;
}

.sub-header .form-control option {
    font-size: 15px;
    display: block;
    margin: 10px;
}

.sub-header .sorting {
    width: 90px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.sub-header .sorting,
.sub-header .sorting li {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.sub-header .sorting li {
    margin: 0 10px;
}

.sub-header .sorting li a {
    color: #404873;
    padding: 7px 8px;
    text-decoration: none
}

.sub-header .sorting li.dropdown {
    position: relative;
}

.sub-header .sorting li.dropdown a:after {
    display: none;
}

.sub-header .sorting li .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    width: 360px;
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
}

.sub-header .sorting li li {
    display: block;
    font-size: 14px;
    margin: 0;
    border: 1px solid #efefef;
}

.sub-header .badge-primary {
    padding: 4px 10px;
    background: #21a6df;
}


@media (max-width:1199px) and (min-width:992px) {
    header .navbar-light .navbar-nav .nav-link {
        font-size: .98em;
    }

    header .navbar-light .navbar-nav .nav-link.btn-default {
        padding: 10px 20px;
    }

    header .dropdown-menu .other-menu {
        min-height: 457px;
    }

}

@media (max-width:991px) and (min-width:768px) {

    header .navbar-light .navbar-nav .nav-link {
        text-transform: capitalize;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 24px 7px;
    }

    .navbar-light .navbar-brand {
        max-width: 100px
    }

    header .navbar-light .navbar-nav .nav-link.btn-default {
        padding: 6px 7px;
        top: 3px;
        font-size: 12px;
    }

    header .dropdown-menu {
        overflow-y: scroll;
        max-height: 400px;
    }

    header .dropdown-menu .service-menu {
        width: 100%;
        display: block;
        border-right: none;
    }

    header .dropdown-menu .other-menu,
    header .dropdown-menu .service-menu li {
        width: 49%;
        display: inline-block;
    }

    header .dropdown-menu li ul {
        padding: 0;
        display: block;
    }

    header .dropdown-menu .service-menu.service-menu-full li {
        width: calc(50% - 2px);
    }

    header .dropdown-menu .service-menu.service-menu-full li {
        width: 50% !important;
        margin-bottom: 0;
    }


    header .dropdown-menu .other-menu {
        min-height: auto;
        border-right: none !important;
    }

    header .processMenu ul li:nth-child(2) {
        border-right: none;
    }
}

@media all and (max-width:575px) 
{
    header .social-header .first-li 
    {
        justify-content: center !important;
    }
}

@media (max-width:1199px) {

    .main-header.sticky
    {
        padding: 5px 0px !important;
    }
    header .navbar-light .navbar-nav {
        padding-top: 0;
        border-top: 2px solid #f7f7f7;
        margin-top: 10px;
    }
    .navbar-light .navbar-brand {
        max-width: 100px !important;
    }
    header .navbar-light .navbar-nav .nav-link {
        font-size: 1em;
        letter-spacing: 1px;
        padding: 5px 0;
        width: 100%;
    }

    header .border-right {
        border-right: none !important;
    }

    header .dropdown-menu,
    header .dropdown:hover .dropdown-menu {
        height: auto;
        opacity: 1;
        overflow: visible;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        margin: 0;
    }

    header .dropdown .dropdown-menu {
        display: none;
    }
    header .dropdown .dropdown-menu.active {
        display: block;
    }

    header .dropdown-menu.show {
        display: block;
    }

    header .navbar {
        padding: 5px;
    }

    header .dropdown-menu .other-menu,
    header .dropdown-menu .service-menu {
        width: 100%;
        display: block;
        border-right: none;
        padding: 0;
    }

    header .dropdown-menu .other-menu {
        padding-left: 15px;
    }

    header .dropdown-menu .service-menu li {
        width: 100%;
        display: inline-block;
    }

    header .dropdown-menu li ul {
        padding: 0;
        display: block;
    }

    header .dropdown.position-static {
        position: relative !important;
    }

    header .dropdown .dropdown-toggle:after {
        right: 15px;
        content: "\F067";
        font-family: FontAwesome;
        border: none;
        float: right;
    }

    header .dropdown.show .dropdown-toggle:after {
        content: "\F068";
    }

    header .navbar-nav .nav-item {
        padding: 4px;
        border-bottom: 1px solid #f7f7f7;
    }

    header .dropdown-menu .dropdown-item {
        opacity: 1;
        z-index: 1;
        padding: 5px 15px;
        height: auto;
        border-bottom: 1px solid #f7f7f7;
    }

    header .dropdown-menu .dropdown-item .dropdown-item:last-child {
        border-bottom: 1px solid transparent;
    }

    header .dropdown .dropdown-toggle:before,
    header .dropdown:hover .dropdown-toggle:before {
        display: none;
    }

    header .dropdown-menu-ul-list li a {
        padding: 7px 0 !important;
        margin-top: 0 !important;
        font-size: 14px !important;
    }

    header .dropdown-menu-ul-list li:last-child a {
        margin-bottom: 15px !important
    }

    header .navbar-nav {
        overflow-y: scroll;
        height: 600px;
    }

    header .navbar-nav div
    {
        width: 100%;
        display: block;
    }

}


/* 30-10-2020 */

.gray-check.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url('../images/black-tick.svg') !important;
    background-size: 8px 8px !important;
}
.blue-check.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url('../images/blue-tick.svg') !important;
    background-size: 8px 8px !important;
}